body{
    margin: 0;
    background-color: #1d1f28 !important;
}

.list-group-item{
    background-color: #1d1f28;   
}

ul li a{
    font-weight: bold;
    color: rgb(221, 221, 221);
    font-family: monospace;
    text-shadow:  #2bff00 1px 1px 10px;
    text-decoration: none;
    padding-top: 10px;
}

.navbar-nav li a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 221, 221);
    font-family: monospace;
    text-shadow:  #2bff00 1px 1px 10px;   
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(221, 221, 221);
}

.navbar-brand {
    font-weight: bold;
    color: rgb(221, 221, 221);
    font-family: monospace;
    text-shadow:  #2bff00 1px 1px 10px; 
}

