body{
    margin: 0;
    background-color: #1d1f28 !important;
    font-family: monospace;
    color: aliceblue;
}

section h2{
    padding-top: 30px;
    padding-bottom: 20px;
    color: red;
    font-weight: bold;
}

.atribute{
    font-size: 25px;
    color: red;
}

.header{
    position: fixed;
    width: 100%;

}

span{
    font-weight: bold;
    color: rgb(212, 3, 3);
    background-color: rgb(62, 64, 70);
}

ul li{
    color: rgb(227, 243, 3);
    font-weight: bold;
}

.navbar-brand, .nav-link{
    margin-left: 15px;
    font-weight:bold;
    font-family: monospace;
    text-shadow: #44FF00 1px 1px 10px;
    font-size: 20px;
}
